* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #8687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  cursor: pointer;
  box-sizing: 10px 0px 1rem rgba(0, 0, 0, 0.16);
  font-size: 2.5rem;
  color: red;
  font-weight: 900;
}

#reset-btn {
  padding: 10px 30px;
  border: 1px solid springgreen;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 10px;
}

#winner{
    font-size: 30px;
    font-weight: bolder;
}